{% extends "layout.html" %}

{% block body %}
    <h1>Login to Play</h1>
    <form action="/register" method="post">
        <select name="Tier">
                <option disabled selected value="">Tier</option>
                <option value="T1">1</option>
                <option value="T2">2</option>
                <option value="T3">3</option>
                <option value="T4">4</option>
        </select>
        <input autocomplete="off" autofocus name="password" placeholder="password" type="text">

        <input type="submit" value="Login">
    </form>

    <script>

        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input').value) {
                alert('You must provide your passcode');
                return false;
            }
            else if (!document.querySelector('select').value) {
                alert('You must provide your tier');
                return false;
            }
            return true;
        };

    </script>

{% endblock %}